
body {
    background-color: rgb(90,15,15);
	color: rgb(214, 28, 28);
    font-family: "Palatino", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {

}

footer {
	text-align: center;
}

#one {
	font-size: 110%;
}

#two {
	font-size: 120%;
}

#three {
	font-size: 135%;
}

#four {
	font-size: 165%;
}

#five {
	font-size: 195%;
}

#inst {
	font-size: 90%;
	color: rgb(143, 185, 240);
}
