
body {
    background-color: rgb(90,15,15);
	color: rgb(214, 28, 28);
    font-family: "Palatino", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {

}

footer {
	font-size: 140%;
	text-align: center;
}

